@use '../abstracts/variables';
.card
{

    perspective: 150rem;
    -moz-perspective: 150rem;
    font-size:1.5rem;
    position: relative;
    height: 52rem;
    

    &__side
    {   
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, .15);
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
   
        &--front
        {
            background-color: variables.$color-white;
            
        }

        &--back
        {
            transform: rotateY(180deg);
            
            &--1
            {
                background-image: linear-gradient(to right bottom, variables.$color-secondary-light, variables.$color-secondary-dark);
            }

            &--2
            {
                background-image: linear-gradient(to right bottom, variables.$color-primary-light, variables.$color-primary-dark);
            }

            &--3
            {
                background-image: linear-gradient(to right bottom, variables.$color-tertiary-light, variables.$color-tertiary-dark);
            }
        }
        

    }

    &:hover &__side--front
    {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back
    {
        transform: rotateY(0deg);
    }

    &__picture
    {
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1
        {
            background-image: linear-gradient(variables.$color-secondary-light, variables.$color-secondary-dark), url(/resources/img/nat-5.jpg);
            height: 25rem;
        }

        &--2
        {
            background-image: linear-gradient(variables.$color-primary-light, variables.$color-primary-dark),url(/resources/img/nat-6.jpg);
            height: 25rem;
        }
        
        &--3
        {
            background-image: linear-gradient(variables.$color-tertiary-light, variables.$color-tertiary-dark),url(/resources/img/nat-7.jpg);
            height: 25rem;;
        }

    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: variables.$color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        
    }
 
    &__heading-span {
        padding: 0.5rem 1.5rem;
        box-decoration-break: clone;
 
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba(variables.$color-secondary-light, .85),
            rgba(variables.$color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba(variables.$color-primary-light, .85),
            rgba(variables.$color-primary-dark, .85));
        }


        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba(variables.$color-tertiary-light, .85),
            rgba(variables.$color-tertiary-dark, .85));
        }
    }

    &__details
    {
        ul{
            list-style: none;
            width: 80%;
            padding:3rem;
            margin: 0 auto;

            li
            {
                
                text-align: center;
                font-size: 1.5rem;
                padding:1rem;

                &:not(:last-child)
                {
                    border-bottom: 1px solid variables.$color-grey-light-2;
                }

            }
        }
    }

    &__cta
    {
        position: absolute;
        top:50%;
        left:50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__price-box{
        text-align: center;
        color:variables.$color-white;
        margin-bottom: 7rem;
    

    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 2rem;

    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;

    }
    
}