*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    font-family: 'Lato', sans-serif;
    font-size : 20px;
    font-weight: 300;
    color:white;
    padding:30px;
}
/*
Color
l green #7ed56f
M green #55c57a
D green #28b485


*/
.header
{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111,0.8), rgba(39, 180, 133,0.8)), url(/resources/img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.header__logo
{
    position: absolute;
    top: 50px;
    left: 50px;
}
.header__img
{
    height: 35px;
}

.header__textbox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    /*
    shift elemtn -50 to left
    shift elemtn -50 to the top 
    */
}
.header__title
{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}
.header__titlemain
{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInleft;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count: infinite;*/
    /*animation-delay: 3s;*/
}
.header__titlesub
{
    display: block;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 15px;
    animation: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    margin-top: 20px;
    
}

.header___btn:link,.header___btn:visited
{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 50px;
    display: inline-block;
    padding: 15px 35px;
    border-radius:900px;

    font-size: 15.5px;
    transform: translateX(-15px);
    transition: all 0.5s;
    position: relative;
    
    
    
}

.header__btn--animatefadein
{
    animation: fadeInbtn 1.6s ease-in-out 0.75s;
    animation-fill-mode: backwards;

}
.header___btn:hover 
{
    transform: translate(-15px ,-5px);
    
    box-shadow: 0 5px 40px 0px rgba(0, 0, 0,0.2);

}
.header___btn:active 
{
    transform: translate(-15px , 0px);
    box-shadow: 0 2px 20px 0px rgba(0,0,0,0.2);


}

.header___btn--white
{
    background-color: #fff;
    color: #777;
   
}
.header___btn--white::after
{
    background-color: #fff;
}

.header___btn::after
{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 900px;
    transition: all 0.5s;
}


.header___btn:hover::after
{

    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}


@keyframes moveInleft
{
    from 
    { 
        opacity: 0;
        transform: translateX(-100px);
    }

    80%
    {
        opacity: 0.5;
        transform:translateX(+40px);

    }

    to
    {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInRight
{
    from 
    { 
        opacity: 0;
        transform: translateX(+500px);
    }

    80%
    {
        opacity: 0.5;
        transform:translateX(+40px);

    }

    to
    {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes fadeInbtn
{
    from 
    { 
        opacity: 0;
        transform: translate(-15px, 20px);
    }


    to
    {
        opacity: 1;
        transform: translate(-15px, 0px);

    }
}