*,*::after,*::before
{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html
{
    font-size : 62.5%;
}
body
{
    font-family: 'Lato', sans-serif;
    
    font-weight: 300;
    color:white;
    padding: 3rem;
    box-sizing: border-box;
}
/*
Color
l green #7ed56f
M green #55c57a
D green #28b485


*/
.header
{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111,0.8), rgba(39, 180, 133,0.8)), url(/resources/img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.header__logo
{
    position: absolute;
    top: 5rem;
    left: 5rem;
}
.header__img
{
    height: 3.5rem;
}

.header__textbox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    /*
    shift elemtn -50 to left
    shift elemtn -50 to the top 
    */
}
.header__title
{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}
.header__titlemain
{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInleft;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count: infinite;*/
    /*animation-delay: 3s;*/
}
.header__titlesub
{
    display: block;
    font-weight: 400;
    font-size: 2.2rem;
    letter-spacing: 1.5rem;
    animation: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    margin-top: 2rem;
    
}

.btn:link,.btn:visited
{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 5rem;
    display: inline-block;
    padding: 1.5rem 3.5rem;
    border-radius:900px;

    font-size: 1.55rem;
    transform: translateX(-1.5rem);
    transition: all 0.5s;
    position: relative;
    
    
    
}

.btn--animatefadein
{
    animation: fadeInbtn 1.6s ease-in-out 0.75s;
    animation-fill-mode: backwards;

}
.btn:hover 
{
    transform: translate(-1.5rem ,-.5rem);
    box-shadow: 0 .5rem 4rem 0rem rgba(0, 0, 0,0.2);

}
.btn:active 
{
    transform: translate(-1.5rem , 0px);
    box-shadow: 0 .2rem 2rem 0rem rgba(0,0,0,0.2);


}

.btn--white
{
    background-color: #fff;
    color: #777;
   
}
.btn--white::after
{
    background-color: #fff;
}

.btn::after
{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 900px;
    transition: all 0.5s;
}


.btn:hover::after
{

    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}


@keyframes moveInleft
{
    from 
    { 
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%
    {
        opacity: 0.5;
        transform:translateX(+4rem);

    }

    to
    {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInRight
{
    from 
    { 
        opacity: 0;
        transform: translateX(+50rem);
    }

    80%
    {
        opacity: 0.5;
        transform:translateX(+4rem);

    }

    to
    {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes fadeInbtn
{
    from 
    { 
        opacity: 0;
        transform: translate(-1.5rem, 2rem);
    }


    to
    {
        opacity: 1;
        transform: translate(-1.5rem, 0px);

    }
}