@keyframes moveInleft
{
    from 
    { 
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%
    {
        opacity: 0.5;
        transform:translateX(+4rem);

    }

    to
    {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInRight
{
    from 
    { 
        opacity: 0;
        transform: translateX(+50rem);
    }

    80%
    {
        opacity: 0.5;
        transform:translateX(+4rem);

    }

    to
    {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes fadeInbtn
{
    from 
    { 
        opacity: 0;
        transform: translate(-1.5rem, 2rem);
    }


    to
    {
        opacity: 1;
        transform: translate(0rem, 0px);

    }
}